@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 1440px;
}

.cabecalho{
    height: 150px;
    background: url("banner_site.png") no-repeat 0px 0px;
    border-bottom: #ffffff;
    line-height: 150px;
    
   
}

.titulo{
    font-family: 'Fredericka the Great', cursiva;
    text-transform: uppercase;
    color:#ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-size: 40px;
    text-align: left;
    padding: 20px;
    font-weight: lighter;

   
}
.corpo{
    width: auto;
    height: auto;
    background-color: #107A9B;
    background-image: linear-gradient(#107A9B,#ffffff);
    color:aliceblue;
}
.rodape{
    clear: both;
    background-color: #074558;
    height: auto;
    width: auto;
    display: inline-flex;
    padding: 10px;
    color:#ffffff;
    text-align: center;
    vertical-align: middle;
}
.rodape h4{
    font-weight: lighter;
    font-size: small;
} 